<div class="container">
  <div>
    <h4>Portfolio</h4>
    <div class="row">
      <div class="column">
        <div *ngFor="let img of gallery1; index as i">
          <img [lightbox]="i" class="w-100 shadow-1-strong mb-4" [src]="img.picture" id="picture{{ img.picture }}" />
        </div>
      </div>

      <div class="column">
        <div *ngFor="let img of gallery2; index as i">
          <img [lightbox]="i" class="w-100 shadow-1-strong mb-4" [src]="img.picture" id="picture{{ img.picture }}" />
        </div>
      </div>

      <div class="column">
        <div *ngFor="let img of gallery3; index as i">
          <img [lightbox]="i" class="w-100 shadow-1-strong mb-4" [src]="img.picture" id="picture{{ img.picture }}" />

        </div>
      </div>

      <div class="column">
        <div *ngFor="let img of gallery4; index as i">
          <img [lightbox]="i" class="w-100 shadow-1-strong mb-4" [src]="img.picture" id="picture{{ img.picture }}" />

        </div>
      </div>
    </div>
  </div>
</div>