<div class="container">
  <div class="mt-4">
    <h4>Mein Portfolio</h4>

    <!-- Gallery -->
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <div>
          <img
            class="w-100 shadow-1-strong mb-4"
            src="assets/20210421_065614.jpg"
            aria-readonly="true"
            data-toggle="modal"
            data-target="#picture1"
          />
          <div
            class="modal fade"
            id="picture1"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-body">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <i class="fas fa-times-circle" style="color: white"></i>
                </button>
                <img
                  class="w-100 shadow-1-strong mb-4 mt-2"
                  src="assets/20210421_065614.jpg"
                  aria-readonly="true"
                />
              </div>
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00150.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture2"
        />
        <div
          class="modal fade"
          id="picture2"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00150.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00302.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture3"
        />
        <div
          class="modal fade"
          id="picture3"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00302.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00370.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture4"
        />
        <div
          class="modal fade"
          id="picture4"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00370.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00993.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture5"
        />
        <div
          class="modal fade"
          id="picture5"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00993.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00845-3.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture6"
        />
        <div
          class="modal fade"
          id="picture6"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00845-3.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC00928-3.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture7"
        />
        <div
          class="modal fade"
          id="picture7"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC00928-3.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC07337.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture8"
        />
        <div
          class="modal fade"
          id="picture8"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC07337.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC07491-2.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture10"
        />
        <div
          class="modal fade"
          id="picture10"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC07491-2.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC07609-2.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture11"
        />
        <div
          class="modal fade"
          id="picture11"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC07609-2.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC08046.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture12"
        />
        <div
          class="modal fade"
          id="picture12"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC08046.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC08825.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture13"
        />
        <div
          class="modal fade"
          id="picture13"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC08825.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC08901.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture14"
        />
        <div
          class="modal fade"
          id="picture14"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC08901.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC09047.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture15"
        />
        <div
          class="modal fade"
          id="picture15"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC09047.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC09289.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture16"
        />
        <div
          class="modal fade"
          id="picture16"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC09289.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC09592.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture17"
        />
        <div
          class="modal fade"
          id="picture17"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC09592.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>

        <img
          class="w-100 shadow-1-strong mb-4"
          src="assets/DSC09864.jpg"
          aria-readonly="true"
          data-toggle="modal"
          data-target="#picture18"
        />
        <div
          class="modal fade"
          id="picture18"
          tabindex="-1"
          role="dialog"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-body">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <i class="fas fa-times-circle" style="color: white"></i>
              </button>
              <img
                class="w-100 shadow-1-strong mb-4 mt-2 dialog-image"
                src="assets/DSC09864.jpg"
                aria-readonly="true"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Gallery -->
  </div>
</div>
