<div class="mt-4">
    <h4 class="mt-4">Shooting-Arten</h4>
    <h5 class="mt-3">Outdoor</h5>
    <div>
        An den schönsten Orten endstehen die besten Fotos.
        Meistens spontan, dem Wetter angepasst und in den Outfits die man mal gekauft hat,
        aber nie die Motivation hatte diese zu tragen.
    </div>
    <h5 class="mt-3">Studio</h5>
    <div>
        In meinem kleinen Studio können detailreiche Portraits geschossen werden.
        Ob für Socialmedia, seinen geliebten oder anderes. 
        Die Bilder können in verschiedenen Belichtungen, Farben oder Wärmen gemacht werden.
    </div>
    <h5 class="mt-3">Mit Fahrzeug</h5>
    <div>
        Wolltest du noch nie ein schönes Poster ausdrucken von deinem lieblings Fahrzeug?
        Mit hochauflösenden Bildern kann man sein Fahrzeug Riesig ausdrucken und die Details
        werden so noch mehr zur geltung kommen.
    </div>
</div>

