<div class="container">
  <div>
    <h4 class="mb-4">Q & A</h4>
    <div class="mt-1"></div>
    <div class="row">
      <div class="column">
        <div class="cell" *ngFor="let q of qanda">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ q.question }}</h5>
              <label class="card-text">
                {{ q.answer }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="column1">
        <div class="cell" *ngFor="let q of qanda1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ q.question }}</h5>
              <label class="card-text">
                {{ q.answer }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
