<div class="container screen">
  <div class="mt-4">
    <h4>Häufig gestellte Fragen</h4>
   <div class="mt-1"></div>
    <div class="mt-3 question-and-answer">
      <div class="question  ">Wie lange Fotografiere ich schon?</div>
      <div class="mt-1 answer">
        Ich Fotografiere seit 3 jahren, seit einem jahr probiere ich es
        Professionel.  <br /> Ich mache dies jedoch nur Hobby mässig.
      </div>
    </div>

    <div class="mt-3 question-and-answer">
      <div class="question ">Was und womit bearbeite ich an den Bildern?</div>
      <div class="mt-1 answer">
        Ich bearbeite nur kleinere sachen wie pickel oder Falten aber bearbeite
        kein Brazilian Buttlifting.  <br /> Die Bilder bearbeite ich auf Adobe Lightroom
        und Adobe Photoshop.
      </div>
    </div>

    <div class="mt-3 question-and-answer">
      <div class="question ">Mit welcher Kamera Fotografiere ich?</div>
      <div class="mt-1 answer">
        Ich Fotografiere mit einer Sony A7RII, vorzugsweise mit einer
        Festbrennweite 80mm f1.8 von Viltrox <br /> oder dem 70-200mm f4 von Sony.
      </div>
    </div>

    <div class="mt-3 question-and-answer">
      <div class="question ">Wie teuer ist ein Shooting?</div>
      <div class="mt-1 answer">
        Ein Shooting kostet zwischen 50 und 250 Fr.-, jeh nach aufwand, länge
        und spezifischem wünsche.  <br /> Wobei ich in der regel das erste shooting
        gratis mache,   <br /> um dir meine Resultate schon vorzuweisen und um sich
        kennen zu lernen.
      </div>
    </div>

    <div class="mt-3 question-and-answer">
      <div class="question mt-1">
        Wie langen brauchen die Bilder bis sie angekommen sind?
      </div>
      <div class="mt-1 answer">
        Die Bilder kommen zwischen 5 Tagen und 2 Wochen fertig Bearbeitet und in
        Digitaler Form bei dir an.
      </div>
    </div>
    <div class="mt-4 more-questions">
      Bei weiteren Fragen, kannst du mich jederzeit gerne über Insta <br /> oder per
      Kontakt Formular <a href="/contact">(hier)</a> kontaktieren.
      
    </div>
  </div>
</div>
