<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Beitrag Hinzufügen</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <h5>Sichtbarkeit</h5>
        <div class="col-sm ml-4  mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="public"
            [(ngModel)]="pictureToAdd.isPublic"
            value="1"
          />
          <label class="form-check-label" for="public">Öffentlich</label>
        </div>
        <div class="col-sm ml-4 mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="other"
          />
          <label class="form-check-label" for="other">
            <select
              required
              class="form-control rounded-corners-select"
              id="other"
              name="other"
              [(ngModel)]="pictureToAdd.uid"
            >
              <option
                class="rounded-corners-select"
                value="null"
                disabled
                selected
              >
                Andere
              </option>
              <option *ngFor="let user of allusers" value="{{user.uid}}" class="rounded-corners-select">{{user.username}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="mb-2">Bild</h5>
        <div class="col">
          <label for="date">Datum</label>
          <input
            required
            type="date"
            class="form-control rounded-corners"
            id="date"
            name="date"
            placeholder="TT.MM.YYYY"
            [(ngModel)]="pictureToAdd.date"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label for="kindOfShooting">Shooting Art</label>
          <select
            required
            class="form-control rounded-corners-select"
            id="kindOfShooting"
            name="kindOfShooting"
            [(ngModel)]="pictureToAdd.koSid"
          >
            <option
              class="rounded-corners-select"
              value="null"
              disabled
              selected
            >
              Bitte auswählen...
            </option>
            <option value="1" class="rounded-corners-select">Studio</option>
            <option value="2" class="rounded-corners-select">Outdoor</option>
            <option value="3" class="rounded-corners-select">Mit Fahrzeugen</option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label for="picture">Bild</label>
          <input
            required
            type="file"
            class="form-control"
            style="border-radius: 1em;"
            id="file"
            (change)="onSelectNewFile($event); convertFileToBase64();"
            name="picture"
            placeholder="Bitte auswählen..."
            accept="image/jpg, image/jpeg, image/png"
          />
          
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="button mt-2"
      (click)="add()"
    >
      <p class="p-1">Hinzufügen</p>
      <i style="color: black" class="fas fa-plus"></i>
    </button>
  </div>
</div>
