.div {
    background-color: var(--darker-brown);
    border-radius: 1em;
    border: none;
  }
  
  div {
    border: none;
  }
  
  input, textarea {
      color: var(--darker-brown);
  }

  input[type="radio"]:checked, input[type="checkbox"]:checked {
    background-color: var(--darker-brown) !important;
    border: 1px solid white;
    box-shadow: none;
  }

  .verti-rectangle {
    height: 50px;
    width: 30px;
    border: 4px solid white;
    border-radius: 5px;
  }

  .hori-rectangle {
    height: 30px;
    width: 60px;
    border: 4px solid white;
    border-radius: 5px;
  }

  i {
    color: white;
    border: none;
  }
  
  
  .action {
      text-align: right;
  }
  .rounded-corners, .rounded-corners-select {
      border-radius: 2em;
      color: var(--darker-brown);
      font-weight: bold;
      
  }
  
  button, a {
      color: var(--darker-brown);
  }
  
  .rounded-corners {
      padding: 1em 1em;
  }
  
  label, a, button {
      text-transform: uppercase;
      margin-left: 0.5em;
      font-weight: bolder;
  }