<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Beitrag Hinzufügen</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form (submit)="add()">
      <div class="row">
        <h5>Sichtbarkeit</h5>
        <div class="col-sm ml-4  mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="public"
            value="1"
          />
          <label class="form-check-label" for="public">Öffentlich</label>
        </div>
        <div class="col-sm ml-4 mt-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="other"
            
          />
          <label class="form-check-label" for="other">
            <select
              required
              class="form-control rounded-corners-select"
              id="other"
              name="other"
            >
              <option
                class="rounded-corners-select"
                value="null"
                disabled
                selected
              >
                Andere
              </option>
              <option class="rounded-corners-select">Cecine sBinden</option>
              <option class="rounded-corners-select">Pairavaina Selveranian</option>
              <option class="rounded-corners-select">Shachare Alone</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <h5 class="mt-3">Bildformat</h5>
        <div class="col-sm ml-4 mt-2">
          <input
            name="horver"
            class="form-check-input align-top"
            type="radio"
            id="vertical"
            value="vertical"
          />
          <label class="form-check-label" for="vertical">
            <div
              class="verti-rectangle"
            ></div>
          </label>
        </div>
        <div class="col-sm ml-4  mt-2">
          <input
            name="horver"
            class="form-check-input align-top"
            type="radio"
            id="horizontal"
            value="horizontal"
          />
          <label class="form-check-label" for="horizontal"
            ><div
              class="hori-rectangle"
            ></div>
          </label>
        </div>
      </div>
      <div class="row mt-2">
        <h5 class="mb-2">Bild</h5>
        <div class="col">
          <label for="date">Datum</label>
          <input
            required
            type="date"
            class="form-control rounded-corners"
            id="date"
            name="date"
            placeholder="TT.MM.YYYY"
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label for="kindOfShooting">Shooting Art</label>
          <select
            required
            class="form-control rounded-corners-select"
            id="kindOfShooting"
            name="kindOfShooting"
          >
            <option
              class="rounded-corners-select"
              value="null"
              disabled
              selected
            >
              Bitte auswählen...
            </option>
            <option class="rounded-corners-select">Studio</option>
            <option class="rounded-corners-select">Outdoor</option>
            <option class="rounded-corners-select">Mit Fahrzeugen</option>
          </select>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label for="picture">Bild</label>
          <input
            required
            type="file"
            class="form-control"
            style="border-radius: 1em;"
            id="picture"
            [(ngModel)]="newPost.src"
            name="picture"
            placeholder="Bitte auswählen..."
            accept="image/jpg, image/jpeg, image/png"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="button mt-2"
      (click)="add(); activeModal.close('Close click')"
    >
      <p class="p-1">Hinzufügen</p>
      <i style="color: black" class="fas fa-plus"></i>
    </button>
  </div>
</div>
