<div class="container" style=" padding-bottom: 150px ">
    <h4 class="mt-4">Lernjournal Übersicht</h4>
    <p class="mt-3">
        Auf dieser Seite können Sie alle erstellten Lernjournale sehen. <br />
        Wenn sie ein eigenes Lernjournal erstellen möchten klicken Sie bitte auf das "+". <br />
        Um ein Lernjournal ansehen zu können, können Sie auf das Auge neben dem Titel klicken.
    </p>
    <div class="card mt-4">
        <div class="card-title">
            <h4>Title</h4>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-title">
            <h4>Title</h4>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-title">
            <h4>Title</h4>
        </div>
    </div>
</div>