<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Neues Shooting</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form"
      #newShootingForm="ngForm"
      (ngSubmit)="newShootingForm.form.valid && onSubmit()"
      novalidate
    >
      <div class="row">
        <div class="col-sm">
          <label for="date">Datum</label>
          <input
            required
            type="date"
            class="form-control rounded-corners"
            id="date"
            name="date"
            placeholder="TT.MM.YYYY"
            [(ngModel)]="shooting.date"
            #date="ngModel"
          />
          <span
            class="text-danger"
            *ngIf="(date.touched || date.submitted) && date.errors?.required"
          >
            Datum ist erforderlich*
          </span>
        </div>

        <div class="col-sm">
          <label for="kindOfShooting">Shooting Art</label>
          <select
            required
            class="form-control rounded-corners-select"
            id="kindOfShooting"
            name="kindOfShooting"
            [(ngModel)]="shooting.kindOfShooting"
            #kindOfShooting="ngModel"
          >
            <option
              class="rounded-corners-select"
              value="null"
              disabled
              selected
            >
              Bitte auswählen...
            </option>
            <option class="rounded-corners-select">Studio</option>
            <option class="rounded-corners-select">Outdoor</option>
            <option class="rounded-corners-select">Mit Fahrzeugen</option>
          </select>
          <span
            class="text-danger"
            *ngIf="
              (kindOfShooting.touched || kindOfShooting.submitted) &&
              kindOfShooting.errors?.required
            "
          >
            Shooting Art ist erforderlich*
          </span>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <label for="text">Text</label>
          <textarea
            required
            class="form-control rounded-corners"
            id="text"
            rows="7"
            name="body"
            [(ngModel)]="shooting.text"
            #text="ngModel"
          ></textarea>
          <span
            class="text-danger"
            *ngIf="(text.touched || text.submitted) && text.errors?.required"
          >
            Text ist erforderlich*
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button type="submit" class="button">
            <p>Senden</p>
            <i style="color: black" class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
