<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Registrieren</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form"
      (submit)="onSubmit()"
    >
      <div class="row">
        <div class="col-sm mb-2 form-group">
          <label for="prename">Vorname</label>
          <input
            type="text"
            class="form-control rounded-corners"
            id="prename"
            [(ngModel)]="newUser.name"
            name="prename"
            required
          />
          
        </div>
        <div class="col-sm form-group">
          <label for="lastname">Name</label>
          <input
            type="text"
            class="form-control rounded-corners"
            id="lastname"
            name="lastname"
            [(ngModel)]="newUser.lastname"
            required
          />
         
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="username">Instagram Benutzername / E-Mail</label>
          <label style="font-size: 8pt"
            >*Dient zu einem späteren Zeitpunkt zum markieren und
            kontaktieren</label
          >
          <input
            required
            type="text"
            class="form-control rounded-corners"
            id="username"
            name="username"
            [(ngModel)]="newUser.username"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="password">Passwort</label>
          <input
            type="password"
            class="form-control rounded-corners"
            id="password"
            name="password"
            [(ngModel)]="newUser.password"
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="confirmPassword">Passwort Wiederholen</label>
          <input
            type="password"
            class="form-control rounded-corners"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
          />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col form-group">
          <button type="submit" class="button float-right">
            <p>Senden</p>
            <i style="color: black" class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
