<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Registrieren</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-sm mb-2">
          <label for="prename">Vorname</label>
          <input
            required
            type="text"
            class="form-control rounded-corners"
            id="prename"
            name="prename"
          />
        </div>
        <div class="col-sm">
          <label for="lastname">Name</label>
          <input
            required
            type="text"
            class="form-control rounded-corners"
            id="lastname"
            name="lastname"
          />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
            <label for="uname">Instagram Benutzername / E-Mail</label>
            <label style="font-size: 8pt"
              >*Dient zu einem späteren Zeitpunkt zum markieren und
              kontaktieren</label
            >
            <input
              required
              type="text"
              class="form-control rounded-corners"
              id="uname"
              name="uname"
            />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
            <label for="pw">Passwort</label>
            <input
              required
              type="password"
              class="form-control rounded-corners"
              id="pw"
              name="pw"
            />
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
            <label for="pww">Passwort wiederholen</label>
            <input
              required
              type="password"
              class="form-control rounded-corners"
              id="pww"
              name="pww"
            />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="button mt-2"
      (click)="register(); activeModal.close('Close click')"
    >
      <p>Senden</p>
      <i style="color: black" class="far fa-paper-plane"></i>
    </button>
  </div>
</div>
