.btn-rounded {
    padding: 1.25em 0;
    width: 100%;
    background-color: #5471c6;
    color: white;
}

@media only screen and (min-width: 600px) {
    .btn-rounded {
        padding: 50px ;
    }
    i {
        font-size: 5em;
    }
}