<div class="mt-3">
  <h4 class="mt-2 text-center">About Me</h4>
  <div class="lead">
    <div class="row mt-2" >
      <div class="col-sm textalign">
        Hey, mein Name ist Dario, ich bin 22 Jahre Alt und wenn ich jedes mal für
        den Satz "Ich bin nicht Fotogen" ein Strich mit dem Bleistifft an der Wand
        ziehen müsste, wäre mein Zimmer schwarz.
      </div>
      <div class="col-sm text-center textalign">
        Ich nehme alles immer sehr locker, mache mir aus allem ernsten im Leben ein
        Witz und bin Lollypop süchtig.
        Meine 3 Schwerpunkte habe ich auf
        Aussenshootings, Studiofotografie und Portrait Fotografie gelegt.
        (Siehe oben bei Shooting-Arten und Beispielsbilder in meinem Portfolio)
      </div>
      <div class="col-sm text-right textalign">
        Bei mir kann man aber so gut wie alles an Shootings machen. Ich probiere gerne etwas
        neues aus und lerne gerne bei jedem shooting etwas dazu.
        Ich finde keine Idee dumm und bin für alles offen.
      </div>
    </div>
    <br>

  </div>
  <div>
    <h5 class="mt-3">Habe ich dein Interesse geweckt?</h5>
    <div class="row mt-3 container">
      <div class="col">
        <button class="button">
          <p>Kontakt</p><i>@</i>
        </button>
      </div>
      <div class="col">

      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>