<div class="mt-3">
  <h4 class="mt-2 text-center">About Me</h4>
  <div class="lead">
    <div class="row mt-2">
      <div class="col-sm textalign">
        Hey, mein Name ist Dario. Ich bin 22 Jahre alt und wenn ich jedes mal für
        den Satz "Ich bin nicht fotogen" ein Strich mit dem Bleistift an der Wand ziehen müsste,
        wäre mein Zimmer schwarz.
      </div>
      <div class="col-sm text-center textalign">
        Ich nehme immer alles locker, mache mir aus jeder ernsten Situation
        im Leben ein Witz und bin Lollipop süchtig.
        Meine 3 Schwerpunkte habe ich auf Outdoor Shootings,
        Studio Fotografie und Portrait Fotografie gelegt.
        Genaueres zu den Shooting Arten findest du oben und meine bisherigen Bilder findest du im Portfolio.
      </div>
      <div class="col-sm text-right textalign">
        Bei mir kann man so gut wie alles in den Shootings machen.
        Ich probiere immer gerne etwas Neues aus und lerne gerne bei jedem Shooting etwas dazu.
        Ich finde keine Ideen dumm und bin für alles offen.
      </div>
    </div>
  </div>
  <div class="text-center mt-4">
    <h5 class="mt-3">Habe ich dein Interesse geweckt?</h5>
    <div class="row mt-4 justify-content-center">
      <div class="col col-lg-2 mt-2">
        <button class="button" routerLink="/portfolio/a">
          <p>Portfolio</p><i style="color: black;" class="far fa-images"></i>
        </button>
      </div>
      <div class="col col-lg-2 mt-2">
        <button class="button" routerLink="/contact">
          <p>Kontakt</p><i style="color: black;" class="far fa-envelope"></i>
        </button>
      </div>
      <div class="col col-lg-2 mt-2">
        <button class="button" routerLink="/q-and-a">
          <p>Q & A</p><i style="color: black;" class="far fa-comments"></i>
        </button>
      </div>
    </div>
  </div>
</div>
