<div class="mt-3">
  <h4 class="mt-2">Über Mich</h4>
  <div>
    Hey, mein Name ist Dario, ich bin 22 Jahre Alt und wenn ich jedes mal für den Satz "Ich bin nicht Fotogen" ein
    Strich mit dem Bleistifft an der Wand ziehen müsste, wäre mein Zimmer schwarz. <br />
    Zu mir: <br />
    Ich nehme alles immer sehr locker, mache mir aus allem ernsten im Leben ein Witz und bin Lollypop süchtig.
    <img class="float-right" src="assets/AboutMe.PNG" width="150" height="150" />

  </div>
  <div>
    <h5 class="mt-3">Habe ich dein Interesse geweckt?</h5>
    <div class="row mt-3 container">
      <div class="col">
        <button type="button" class="btn btn-rounded btn-icon rounded-circle" routerLink="/contact">
          <i class="fas fa-envelope fa-2x"></i>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-rounded btn-icon rounded-circle" routerLink="/portfolio">
          <i class="fas fa-camera fa-2x"></i>
        </button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-rounded btn-icon rounded-circle" routerLink="/q-and-a">
          <i class="fas fa-question fa-2x"></i>
        </button>
      </div>
      <div class="w-100 mt-2"></div>
      <div class="col text-center">Kontakt</div>
      <div class="col text-center">Portfolio</div>
      <div class="col text-center">Q&A</div>
    </div>
  </div>
</div>