button, .blue {
    background-color: #5471c6;
    color: white;
    border: none;
    text-decoration: none;
}

.action {
    text-align: right;
}

@media only screen and (min-width: 757px) {
    .screen {
    height: calc(100vh - 232px);
    }
}