<div class="container screen">
  <div>
    <h4 class="mb-2">Kontakt</h4>
    <p class="lead">
      Hier kannst du mir gerne eine Frage stellen und / oder mir einen Antrag
      für ein Shooting senden. <br />
      Alle Informatinoen findest du unter Home und Fragen & Antworten. <br />
      Bitte wähle aus, um was es sich handelt und fülle alle Felder aus bevor du
      es abschickst.
    </p>
    <form *ngFor="let u of user">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <label for="question">Art der Frage</label>
              <select class="form-control rounded-corners-select" id="question" [(ngModel)]="u.question"
                name="question">
                <option class="rounded-corners-select" value="null" disabled selected>
                  Bitte auswählen...
                </option>
                <option class="rounded-corners-select">Kommentar / Rückmeldung</option>
                <option class="rounded-corners-select">Frage</option>
                <option class="rounded-corners-select">Shooting Anfrage</option>
              </select>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <label for="name">Name</label>
              <input type="text" class="form-control rounded-corners" id="name" [(ngModel)]="u.name" name="name"
                placeholder="Vorname Name" />
            </div>
          </div>
          <div class="row mt-4 mb-4">
            <div class="col">
              <label for="subject">Subject</label> <br />
              <label style="font-size: 14px;" *ngIf="u.question != null">{{ u.question }}:</label>
              <input type="text" class="form-control rounded-corners" id="subject" [(ngModel)]="u.subject"
                name="subject" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <label for="text">Text</label>
              <textarea class="form-control rounded-corners" id="text" rows="12" [(ngModel)]="u.body"
                name="body"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-rounded btn-light rounded-pill mt-4 float-right">
                <button class="blue" href="mailto:d.passucci@gmx.ch?subject={{ u.question }}: {{
                    u.subject
                  }}&body={{ u.body }}%0D%0AGruss%0D%0A{{ u.name }}%0D%0A{{
                    u.email
                  }}" type="button">Senden</button>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    