<div class="div">
  <div class="modal-header">
    <h4 class="modal-title">Anmelden</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <form
      class="form"
      (submit)="onSubmit()"
    >
      <div class="row">
        <div class="col form-group">
          <label for="username">Instagram Benutzername / E-Mail</label>
          <label style="font-size: 8pt"
            >*Dient zu einem späteren Zeitpunkt zum markieren und
            kontaktieren</label
          >
          <input
            required
            type="text"
            class="form-control rounded-corners"
            id="username"
            name="username"
            [(ngModel)]="user.username"
            
            required
          />
          
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="password">Passwort</label>
          <input
            type="password"
            class="form-control rounded-corners"
            id="password"
            name="password"
            [(ngModel)]="user.password"
            required
          />
        </div>
      </div>
      <div *ngIf="wrongCredentials" class="row">
        <div class="col form-group error-color">
            Leider ist dein eingegebenes Passwort falsch. <br />
            Bitte überprüfe es noch einmal und versuche es später erneut.
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <button type="submit" class="button float-right">
            <p>Senden</p>
            <i style="color: black" class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
