a {
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
a:focus {
  font-weight: bolder;
}

body {
  margin: -60px;
}
#logo {
  position: absolute;
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 1;
  min-width: 200px !important;
}

@media only screen and (max-width: 991.5px) {
  nav .open {
    margin: 20% auto;
    height: 100vh;
    background-size: cover;
    a {
      font-size: 20pt !important;
      margin-bottom: 5pt;
    }
  }  
}

.dropdown-menu {
  background-color: var(--darker-brown) !important;
  box-shadow: 2px 2px 10px var(--shadow);
  border: none;
  border-radius: 1em;

  :hover {
    background-color: var(--shadow);
  }
}

@media only screen and (max-width: 400px) {
  h5 {
    font-size: 14pt;
  }
}
