<nav class="navbar navbar-dark" style="background-color: #000000;">
  <div class="container">
    <button class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#about-me">Über Mich</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#kind-of-shooting">Shooting-Arten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="q-and-a">Fragen und Antworten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Kontakt</a>
        </li>
        <!-- li class="nav-item">
          <a class="nav-link" (click)="test()">Anmelden</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="test()">Registrieren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="requests">Anfragen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-post">Beitrag Hinzufügen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="my-profile">Mein Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="test()">Neues Shooting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="test()" routerLink="">Logout</a>
        </li -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet class="host-content"></router-outlet>
<!--div id="logo" >
  <a id="logoimg" routerLink="/home">
  <img src="assets/Logo/Logo_white.svg"></a>
</div -->
