<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"
    ><h5 class="font-weight-light">
      <img
        src="assets/Logo/Logo_white.svg"
        width="30"
        height="30"
        class="d-inline-block align-top mr-2"
        alt="Logo"
      />
      Daariiou Photography
    </h5>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
  <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/q-and-a">Q&A</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet class="host-content"></router-outlet>
