a {
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
a:focus {
  font-weight: bolder;
}

body {
  margin: -60px;
}
#logo {
  position: absolute;
  position: fixed;
  top: 2%;
  left: 2%;
  width: 20%;
  z-index: 1;
  min-width: 200px !important;
}


@media (max-width: 991px) {
  
}


@media only screen and (max-width: 400px) {
  h5 {
    font-size:  14pt;
  }
}