button {
    border: none;
}

a {
    border: none;
    color: white;
    cursor: pointer;
}

body {
    margin: -60px;
}

#logo {
    position: sticky;
    top: 2%;
    left: 2%;
    width: 20%;
    z-index: 1;
}